**/Temp/
**/Library/
**/obj/
**.csproj
**.idea/
**.sln

**/ProjectVersion.txt

**/PersistentPath/
**/PersistentPath.meta
**/BlockGenPrefabs/
**/BlockGenPrefabs.meta
**/Xcode/
**.DS_Store
**.userprefs
**/JetBrains/
**/JetBrains.meta

